<mat-toolbar color="primary">
    <a mat-icon-button class="example-icon" 
    routerLink="/"
    aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a
    *ngIf="!isLoggedIn"
    routerLink="login" mat-button color="azure"
    class="" 
    aria-label="Login">
      Login
    </a>
    <a
    *ngIf="!isLoggedIn" 
    routerLink="signUp" mat-button color="azure"
    class="" 
    aria-label="Login">
        Register
    </a>

    <a
    *ngIf="isLoggedIn && user" 
     mat-button color="azure"
    class=""
    routerLink="/admin/profile" 
    aria-label="Login">
        {{this.login.getUser().userName}}
    </a>

    <a
    (click)="logout()"
    *ngIf="isLoggedIn" 
     mat-button color="azure"
    class="" 
    aria-label="Login">
        Logout
    </a>

  </mat-toolbar>