<mat-toolbar color="primary">
    <a mat-icon-button class="example-icon" 
    routerLink="/"
    aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a routerLink="login" mat-button color="azure"
    class="" 
    aria-label="Login">
      Login
    </a>
    <a routerLink="signUp" mat-button color="azure"
    class="" 
    aria-label="Login">
        Register
    </a>
  </mat-toolbar>