<!-- <div class="bootstrap-wrapper">
  <div class="container">
    <h1>This is first page</h1>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
